{% extends 'base.html' %}

{% block form %}

        <div id="container">
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
		<div class="col-md-12">
				<div class="panel panel-default ">
					<div class="panel-heading">
						Bid details
						</div>
					<div class="panel-body timeline-container">
						<ul class="timeline">
							<li>
								<div class="timeline-badge"><em class="glyphicon glyphicon-pushpin"></em></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
                                        <h4 class="timeline-title"></h4>
									</div>
									<div class="timeline-body">
										<p>Bidded amount : {{ bid.amount }}</p>
                                            <p>Bid Description : {{ bid.description }}</p>
                                            Bidded by : <a href="{% url 'accounts:profile_with_pk' pk=bid.link_user.pk %}">{{ bid.link_user }}</a>
                                            {% if post.is_bidded %}
                                                <button class="btn" disabled>Submit</button>
                                            {% else %}
                                            <form method = "post">
                                                {% csrf_token %}
                                                <button type = 'submit'>Submit</button>
                                            </form>
                                            {% endif %}
									</div>
								</div>
							</li>

						</ul>
					</div>
				</div>
			</div>
        </div>
</div>
</div>

        <!--<p>{{ bid.amount }}</p>-->
        <!--<p>{{ bid.description }}</p>-->
        <!--<a href="{% url 'accounts:profile_with_pk' pk=bid.link_user.pk %}">{{ bid.link_user }}</a>-->
        <!--{% if post.is_bidded %}-->
            <!--<button class="btn" disabled>Submit</button>-->
        <!--{% else %}-->
        <!--<form method = "post">-->
            <!--{% csrf_token %}-->
            <!--<button type = 'submit'>Submit</button>-->
        <!--</form>-->
        <!--{% endif %}-->

{% endblock %}