{% extends 'base.html' %}

{% block head %}
    {% load staticfiles %}
    <title>Zyaala - Dashboard</title>
	<link href="{% static 'home/css/datepicker3.css' %}" rel="stylesheet">
{% endblock %}

{% block form %}

<!-- Dashboard code -->
<div id ="container">
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
		<div class="col-md-6">
				<div class="panel panel-default ">
					<div class="panel-heading">
						Timeline

					</div>
					<div class="panel-body timeline-container">
						<ul class="timeline">
							{% for post in posts %}
							<li>
								<div class="timeline-badge"><em class="glyphicon glyphicon-pushpin"></em></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4 class="timeline-title"><a href="{% url 'home:post_detail' pk=post.pk %}">{{ post.title }}</a></h4>
									</div>
									<div class="timeline-body">
										<p>Posted by {{ post.user.get_full_name }} on {{ post.created }}</p>
									</div>
								</div>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div><!--/.col-->
			<div class="col-md-6">
				<div class="panel panel-default chat">
					<div class="panel-heading">
						Connects
						</div>
					<div class="panel-body">
						<ul>
							{% for post in myPost %}
								{% if post.who_bidded is not None %}
							<li class="left clearfix"><span class="chat-img pull-left">
								{% if post.who_bidded.images %}
								<img src="{{ post.who_bidded.images.url }}" class="img-circle"/>
								{% else %}
								<img src="http://placehold.it/60/30a5ff/fff" alt="User Avatar" class="img-circle" />
								{% endif %}
								</span>
								<div class="chat-body clearfix">

									<div class="header"><strong class="primary-font"><a href="{% url 'accounts:profile_with_pk' pk=post.who_bidded.pk %}">{{ post.who_bidded }}</a></strong></div>

								</div>
							</li>
								{% endif %}
							{% endfor %}
						</ul>
					</div>

				</div>

				</div>
			</div><!--/.col-->

		</div><!--/.row-->
	</div>	<!--/.main-->
<!-- Dashboard code ends -->


	<script src="{% static 'home/js/chart.min.js' %}"></script>
	<script src="{% static 'home/js/chart-data.js' %}"></script>
	<script src="{% static 'home/js/easypiechart.js' %}"></script>
	<script src="{% static 'home/js/easypiechart-data.js' %}"></script>
	<script src="{% static 'home/js/bootstrap-datepicker.js' %}"></script>
	<script src="{% static 'home/js/custom.js' %}"></script>

{% endblock %}