{% extends 'base.html' %}

{% block head %}
    <title>Map</title>
    <style>
        #map{
            height:400px;
            width : 80%;
        }
    </style>
{% endblock %}

{% block form %}
<div id="container">
    	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
		<div class="col-md-12">
				<div class="panel panel-default ">
					<div class="panel-heading">
						Map
						</div>
					<div class="panel-body timeline-container">
						<ul class="timeline">
							<li>
								<div class="timeline-badge"><em class="glyphicon glyphicon-pushpin"></em></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4 class="timeline-title">Map</h4>
									</div>
									<div class="timeline-body">
										<div id="map"></div>
                                        <script>
                                          function initMap() {
                                            var uluru = {lat: {{ latitude }}, lng: {{ longitude }} };
                                            var map = new google.maps.Map(document.getElementById('map'), {
                                              zoom: 15,
                                              center: uluru
                                            });
                                            var marker = new google.maps.Marker({
                                              position: uluru,
                                              map: map
                                            });
                                          }
                                        </script>
                                        <script async defer
                                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCq0T9Yzk2ltD-OT1b9ZYLf5Z1E-cNdgkY&callback=initMap">
                                        </script>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
        </div>
        </div>
</div>
{% endblock %}

