{% extends 'base.html' %}

{% block form %}

    <div id="container">
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
		<div class="col-md-12">
				<div class="panel panel-default ">
					<div class="panel-heading">
						Edit job
						</div>
					<div class="panel-body timeline-container">
						<ul class="timeline">
							<li>
								<div class="timeline-badge"><em class="glyphicon glyphicon-pushpin"></em></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4 class="timeline-title">
                                            <h1>Edit post</h1>
                                            <form method="POST" class="post-form">{% csrf_token %}
                                                {{ form.as_p }}
                                                <button type="submit" class="save btn btn-default">Save</button>
                                            </form>
                                        </h4>
									</div>

								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
        </div>
</div>
</div>


{% endblock %}