{% extends 'base.html' %}

{% load staticfiles %}

{% block head %}
<script type="text/javascript">
function myFunc(){
   {% for bids in bid %}
   var a = document.getElementById("btn{{ bids.id }}");
   console.log(a);
   a.disabled = true;
   {% endfor %}
   //var b = document.getElementById("bidbtn");
   //b.disabled = true;

};
</script>
{% endblock %}

{% block form %}

    <div id="container">
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
		<div class="col-md-12">
				<div class="panel panel-default ">
					<div class="panel-heading">
						Job details
						</div>
					<div class="panel-body timeline-container">
						<ul class="timeline">
							<li>
								<div class="timeline-badge"><em class="glyphicon glyphicon-pushpin"></em></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4 class="timeline-title">



                                                <div class="container">
                                                    <h1>{{ post.title }}</h1>
                                                    <strong>{{ post.post|linebreaksbr }}</strong>
                                                </div>
                                                <br>

                                                <div class="post">
                                                {% if post.created %}
                                                    <div class="date">
                                                        Posted by {{ post.user.get_full_name }} on {{ post.created }}
                                                    </div>
                                                    <div>
                                                        Amount : {{ post.amount }}<br>
                                                        Location : {{ post.location }}<br>
                                                        {% if post.is_online is False %}
                                                            Location based job<br>
                                                        {% else %}
                                                            Online job<br>
                                                        {% endif %}
                                                        Deadline by : {{ post.deadline }}<br>
                                                    </div>
                                                {% endif %}
                                                </div>

                                                <br>
                                                <br>

                                                {% if post.user.get_username == user.username %}
                                                <div class="container">
                                                    {% if bid_accepted is None %}
                                                    <a class="btn btn-default" href="{% url 'home:post_edit' pk=post.pk%}"><span class="glyphicon glyphicon-pencil"></span></a>
                                                    {% else %}
                                                    <a class="btn btn-default" disabled href="{% url 'home:post_edit' pk=post.pk%}"><span class="glyphicon glyphicon-pencil"></span></a>
                                                    <span style="color:red;">You cannot edit this post now.</span>
                                                    <form action="https://www.sandbox.paypal.com/cgi-bin/webscr?" method="post" target="_blank">
                                                        <input type="hidden" name="cmd" value="_xclick">
                                                        <input type="hidden" name="business" value="{{ user.email }}">
                                                        <input type="hidden" name="amount" value="{{ post.amount }}">
                                                        <input type="hidden" name="item_name" value="Zyaala Transfer">
                                                        <input type="hidden" name="currency_code" value="USD">
                                                        <input type="hidden" name="return" value="http://127.0.0.1:8000/home/thanks">
                                                        <input type = "image" src="http://www.learningpartners.com.au/images/pay-now-button.png" border="0" name="submit" alt="Paypal">

                                                    </form>
                                                    {% endif %}
                                                </div>
                                                    {% if bid %}
                                                        <div class="container">
                                                            <h1>Bids for this post</h1>
                                                            {% for bids in bid %}
                                                            <a href = "{% url 'home:bid_show' pk=post.pk pk_alt=bids.pk %}">Bidded by {{ bids.link_user }} at amount {{ bids.amount }}</a>
                                                            <br>
                                                            <!--<p>{{ bids.description }}</p>-->
                                                            <!--<p>{{ bids.link_user }}</p>-->
                                                            <!--<a class="btn btn-default" href="#" name="btn" id="btn{{ bids.id }}" onclick="myFunc(); ">Accept</a>-->

                                                            {% endfor %}
                                                        </div>
                                                    {% endif %}
                                                {% else %}
                                                <div class="container">
                                                    {% if post.is_bidded %}
                                                    <button class="btn" disabled>Bid here</button>
                                                    {% else %}
                                                    <a class="btn btn-default" href="{% url 'home:bid_form' pk=post.pk %}" id="bidbtn">Bid here</a>
                                                    {% endif %}
                                                </div>
                                                {% endif %}

                                                {% if messages %}
                                                    <ul class="messages">
                                                        {% for message in messages %}
                                                            <li class=" {message.tags} ">{{ message }}</li>
                                                        {% endfor%}
                                                    </ul>
                                                {% endif %}
                                        </h4>
									</div>

								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
        </div>
</div>
</div>


    <!--<div class="post">-->
        <!--{% if post.created %}-->
            <!--<div class="date">-->
                <!--{{ post.created }}-->
            <!--</div>-->
        <!--{% endif %}-->
    <!--</div>-->

    <!--{% if post.user.get_username == user.username %}-->
    <!--<div class="container">-->
        <!--<a class="btn btn-default" href="{% url 'home:post_edit' pk=post.pk%}"><span class="glyphicon glyphicon-pencil"></span></a>-->
    <!--</div>-->
        <!--{% if bid %}-->
            <!--<div class="container">-->
                <!--<h1>Bids for this post</h1>-->
                <!--{% for bids in bid %}-->
                <!--<a href = "{% url 'home:bid_show' pk=post.pk pk_alt=bids.pk %}">{{ bids.amount }}</a>-->
                <!--<br>-->
                <!--&lt;!&ndash;<p>{{ bids.description }}</p>&ndash;&gt;-->
                <!--&lt;!&ndash;<p>{{ bids.link_user }}</p>&ndash;&gt;-->
                <!--&lt;!&ndash;<a class="btn btn-default" href="#" name="btn" id="btn{{ bids.id }}" onclick="myFunc(); ">Accept</a>&ndash;&gt;-->

                <!--{% endfor %}-->
            <!--</div>-->
        <!--{% endif %}-->
    <!--{% else %}-->
    <!--<div class="container">-->
        <!--{% if post.is_bidded %}-->
        <!--<button class="btn" disabled>Bid here</button>-->
        <!--{% else %}-->
        <!--<a class="btn btn-default" href="{% url 'home:bid_form' pk=post.pk %}" id="bidbtn">Bid here</a>-->
        <!--{% endif %}-->
    <!--</div>-->
    <!--{% endif %}-->

    <!--<div class="container">-->
        <!--<h1>{{ post.title }}</h1>-->
        <!--<strong>{{ post.post|linebreaksbr }}</strong>-->
    <!--</div>-->

    <!--{% if messages %}-->
        <!--<ul class="messages">-->
            <!--{% for message in messages %}-->
                <!--<li class=" {message.tags} ">{{ message }}</li>-->
            <!--{% endfor%}-->
        <!--</ul>-->
    <!--{% endif %}-->

{% endblock %}

