{% extends 'base.html'%}

{% block head %}
    {% load staticfiles %}
    <title>Zyaala Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>"
    <link rel="stylesheet" href="{% static 'accounts/css/loginStyle.css' %}">
{% endblock %}


{% block form %}
<div class="pen-title">
    <h1>Zyaala Login</h1><span>Work</i> Hire Earn</a></span>
</div>
<div class="rerun"><a href="">Back to Home</a></div>

<div class="container">
    <div class="card"></div>
    <div class="card">
        <h1 class="title">Log in</h1>
            <form role="form" method="post">
                {% csrf_token %}
                <div class="input-container">
                    {{ form.username }}
                    <label for="#{label}">Email Address</label>
                    <div class="bar"></div>
                </div>
                <div class="input-container">
                    {{ form.password }}
                    <label for="#{label}">Password</label>
                    <div class="bar"></div>
                </div>
                <div class="button-container">
                    <button type="submit" name="login"><span>Login</span></button>
                </div>
                <div class="footer"><a href="{% url 'accounts:reset_password' %}">Forgot your password</a></div>
            </form>
        </div>
</div>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="{% static 'accounts/js/loginStyle.js' %}"></script>

{% endblock %}