{% extends 'base.html' %}

{% block head %}
<title>Profile</title>
{% endblock %}

{% block form %}

<div id="container">
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
		<div class="col-md-6">
				<div class="panel panel-default ">
					<div class="panel-heading">
						Profile
						</div>
					<div class="panel-body timeline-container">
						<ul class="timeline">
							<li>
								<div class="timeline-badge"><em class="glyphicon glyphicon-pushpin"></em></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4 class="timeline-title"></h4>
									</div>
									<div class="timeline-body">
										<p>
											Username : {{ user }}<br>
											First Name: {{ user.first_name }}<br>
											Last Name : {{ user.last_name }}<br>
											Email : {{ user.email }}<br>
											Description : {{ userprofile.description }}<br>
											City : {{ userprofile.city }}<br>
											Website : {{ userprofile.website }}<br>
											Phone : {{ userprofile.phone }}<br>
											{% if userprofile.images %}
											<img src = "{{ userprofile.images.url }}" width="240" alt="image">
											{% endif %}
										</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div><!--/.col-->

			{% if user.pk != request.user.pk and user.pk != post.who_bidded %}
			<div class="col-md-6">
				<div class="panel panel-default ">
					<div class="panel-heading">
						Rating
					</div>
					<div class="panel-body timeline-container">
						<ul class="timeline">
							<li>
								<div class="timeline-badge"><em class="glyphicon glyphicon-pushpin"></em></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4 class="timeline-title"></h4>
									</div>
									<div class="timeline-body">

										<form method="post">
											{% csrf_token %}
											{{ form.as_p }}
											<button type="submit">Submit</button>
										</form>

										{% if total_review == 0 %}

										{% else %}
											Average rating is : {{ total_review }}
										{% endif %}
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div><!--/.col-->
			{% endif %}


		</div>
</div>
</div>
</div>
{% endblock %}