{% extends 'base.html' %}

{% block head %}
<title>Profile</title>
{% endblock %}

{% block form %}

<div id="container">
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
		<div class="col-md-12">
				<div class="panel panel-default ">
					<div class="panel-heading">
						Update Profile
						</div>
					<div class="panel-body timeline-container">
						<ul class="timeline">
							<li>
								<div class="timeline-badge"><em class="glyphicon glyphicon-pushpin"></em></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4 class="timeline-title">
                                            <form method="post" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                {{ form.as_p }}
                                                <button type="submit">Submit</button>
                                            </form>
                                        </h4>
									</div>

								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
        </div>
</div>
</div>




{% endblock %}
