<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/styles.css' %}">



    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <meta name="vieweport" content="width=device-width, initial-scale=1.0">

    {% block head %}
    <title>Title</title>
    {% endblock %}

</head>
<body>
    <br>
    <header>
    <div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span></button>
				<a class="navbar-brand" href="#"><span>Zyaala</span></a>

          <div id="navbar" class="navbar-collapse collapse">
            {% if user.is_authenticated %}
            <ul class="nav navbar-nav navbar-top-links">
                <li><a href="{% url 'home:home' %}">Home</a></li>
                <li><a href="{% url 'accounts:profile' %}">Profile</a></li>
                <!--<li><a href="{% url 'accounts:edit_profile' %}">Edit Profile</a></li>-->
                <li><a href="{% url 'accounts:update_profile' %}">Update Profile</a></li>
				<li><a href="{% url 'chat:chat' %}">Join discussion</a></li>
                <li><a href="{% url 'accounts:change_password' %}">Change Password</a></li>

            </ul>
            <ul class="nav nav-navbar navbar-top-links navbar-right">

					<li class="dropdown"><a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
						<em class="fa fa-bell"></em>
					</a>
						<ul class="dropdown-menu dropdown-alerts">
							<li><a href="#">
								<div><em class="fa fa-envelope"></em>
									{% if messages %}
										<ul class="messages">
											{% for message in messages %}
												<li class=" {message.tags} ">{{ message }}</li>
											{% endfor%}
										</ul>
									{% endif %}
								</div>
							</a></li>
							<li class="divider"></li>
						</ul>
					</li>
                <!--<li><a href="{% url 'accounts:logout' %}">Logout</a></li>-->
            </ul>
          </div>

                <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">
			<div class="profile-userpic">
				{% if userprofile.images %}
				<img src="{{ userprofile.images.url }}" class="img-responsive" alt="">
				{% endif %}
			</div>
			<div class="profile-usertitle">
				<div class="profile-usertitle-name">{{ userprofile.user }}</div>
				<div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="divider"></div>
		<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
		</form>
		<ul class="nav menu">
			<li class="active"><a href="{% url 'home:home' %}" class="dashboard"><em class="fa fa-dashboard">&nbsp;</em> Dashboard</a></li>
			<li><a href="{% url 'home:my_job' %}" class="myjob"><em class="fa fa-calendar">&nbsp;</em> My Job </a></li>
			<li><a href="{% url 'home:post_job' %}" class="postjob"><em class="fa fa-toggle-off">&nbsp;</em>Post job</a></li>
            <!--<li><button id="payment-button">Pay with Khalti</button></li>-->

			<!--<li><div id="paypal-button-container"></div></li>-->

			<li><a href="{% url 'home:map' %}"><em class="fa fa-map-marker"></em> Map</a></li>
			<!--<li><a href="{% url 'home:verify_phone' %}"><em class="fa fa-mobile"></em>Verify your phone</a></li>-->
			<li><a href="{% url 'accounts:logout' %}"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
		</ul>
	</div>

            {% else %}
              <!-- sepearate here -->
            <ul class="nav navbar-nav">
                <li><a href="{% url 'accounts:reset_password' %}">Reset Password</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'accounts:login' %}">Login</a></li>
                <li><a href="{% url 'accounts:register' %}">Register</a></li>
            </ul>
            </div>
            {% endif %}
          <!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
    </div>

    </header>

    {% block form %}

    {% endblock %}

    <footer class="navbar-default navbar-fixed-bottom">
      <div class="container">
        <span class="text-muted" style="font-weight:bold;">Copyright:wiredin@io.com</span>
      </div>
    </footer>

</body>

<script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!--<script src="https://www.paypalobjects.com/api/checkout.js"></script>-->

</html>